<header>
    <nav>
        <ul id="listeNav">
            <li><a href="{{ path('app_accueil') }}">Accueil</a></li>
            <li><a href="{{ path('app_etudiant_list') }}">Étudiants</a></li>
            <li> <a href="{{ path('app_bienvenue') }}">Bienvenue</a> </li>
            <li> <a href="{{ path('app_bienvenues') }}">Bienvenue à tous</a> </li>
        </ul>
    </nav>
</header>